* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

/* === HEADER === */

header {
  width: 100%;
  min-height: 10vh;
  background-color: #9E2a2a;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 15px;
}

header button {
  color:#DA2A2B;
  background-color: transparent;
  border: none;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.logo{
  padding-left: 25px;
  width: 65px;
  height: 40px;
}

p {
  font-family: Tofino;
}

button p{
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
button p:hover{
  transition-duration: 0.1s;
  cursor: pointer;
  color: #FFFFFF;
}

.button-container {
  width: auto; 
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-left: 5px;
  padding-right: 5px;
}

.button-selected{
  color: #FFFFFF;
}
/* === FOOTER === */
/* 
.fixed-footer {
  border-top: 1px solid #9E2a2a;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 20px;
  background-color: white;
  color: #9E2a2a;
  text-align: left;
  font-size: 12px;
  text-indent: 2px;
  font-family: Tofino;
  font-weight: normal;
  z-index: 1;
}

.fixed-footer p{
  margin:  0px;
  padding-left: 35px;
} */


/* Reset CSS */

html {
overflow-y: scroll;
}

/* === Font Information === */

@font-face {
  font-family: "Tofino";
  font-weight: normal;
  src: url("./styles/Fonts/TofinoPersonal-Regular.woff");
}

@font-face{
  font-family: "ROJI-SANS";
  font-weight: normal;
  src: url("./styles/Fonts/Roji-Sans.woff")
}

/* === WORK PAGE === */

.work{
  display: flex;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 0;
}

.filter{
  font-family: Tofino;
  text-decoration: none;
  height: 10px;
  width: 13px;
  position: relative;
  padding: 1px;
  font-size: 14px;
  color: #130000;
}

li{
  margin: 10px;
}

.filter:hover {
  cursor: pointer;
  color: #9E2A2A;
}
.selected {
  color: #9E2A2A;
  list-style: circle;

  /* color:#fff; */
}
.list-container {
  padding: 30px;
  list-style-type: none;
  position: fixed;
  left: 0;
  z-index: 0;
}

.portfolio-wrapper{
  margin: auto;
}

.masonry{
  position: relative;
  margin-top: 4px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 200px;
  border: 2px solid white;
  border-top: none;
  min-height: 100vh;
  width: 100vw;
  z-index: -1;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* === ABOUT PAGE === */

.about{
  display: flex;
  justify-content:left;
  position: fixed;
  height: 100%;
  background-image: url("./img/roji-bg-web.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode:screen;
}

.paragraph-container{
  position: relative;
  height: 100%;
  width: 100vw;
  align-self: flex-start;
  padding: 40px;
}

.paragraph hr{
  background-color:#9E2a2a;
  border: none;
  height: 1px;
}

.paragraph p{
  font-size: 12px;
  justify-content: space-around;
}

.paragraph b{
  color:#9E2a2a;
}

.paragraph a{
  font-size: 11px;
  color: gray;
  text-decoration: underline;
  text-decoration-color: #130000;
  text-decoration-style: solid;
}

.paragraph a:hover{
  background-color: #E25959;
  color: white;
  text-decoration-style: dashed;
}

.about-pic{
  border: 1px solid none;
  background-image: url("./img/ROJI@3x.png");
}

.ROJI-logotype p{
  font-family: ROJI-SANS;
  font-size: 20px;
  letter-spacing: -.10rem;
  color:#9E2a2a;
}

.paragraph img{
  width: 45px;
}

/* === RESPONSIVE INTERVENTIONS === */
  
/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {

  /* -- MOBILE HEADER -- */

  header {
    width: 100vw;
    min-height: 10vh;
    background-color: #9E2a2a;
    display: flex;
    justify-content: left;
    align-items: left;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 15px;
    padding-left: 0px;
  }

  .logo{
    padding-left: 14px;
    padding-right: 10px;
    width: 18vw;
    height: auto;
  }

    /* -- MOBILE FOOTER -- */

  /* .fixed-footer p{
    margin:  1px;
    padding-left: 10px;
  }

  .fixed-footer {
    border-top: 1px solid #9E2a2a;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 20px;
    background-color: white;
    color: #9E2a2a;
    text-align: left;
    font-size: 12px;
    text-indent: 2px;
    font-family: Tofino;
    font-weight: normal;
    z-index: 1;
  } */

    /* -- MOBILE WORK PAGE -- */

  .masonry{
      position: relative;
      margin-left: 120px;
      margin-right: auto;
      margin-bottom: 100px;
      border: 2px solid transparent;
      border-top: none;
      min-height: 100vh;
      width: 70vw;
      z-index: -1;

  }

  .filter{
    font-family: Tofino;
    text-decoration: none;
    height: 10px;
    width: 13px;
    position: relative;
    padding: 2px;
    background-color: white;
    font-size: 16px;
  }

  .list-container {
    padding: 0px;
    list-style-type: none;
    position: fixed;
    left: 0;
    z-index: 0;
  }

  /* -- MOBILE ABOUT PAGE -- */

  .paragraph-container{
    height: 60vh;
    width: 100vw;
    align-self: flex-start;
    padding: 13px;
  }  

  .paragraph p{
    font-size: 14px;
    text-align:left;
  }
}